<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!!!, <%= @email %></h1>
    <p>
      You have Publish Album.
      your Email is: <%= @email %>.<br>
    </p>
    <p>Thanks for Publishing Album and have a great day!</p>
    <p>If you didn't Publish Album, please Change Your Password.</p>
  </body>
</html>